from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("{{ project_name }}").getOrCreate()

data = [("Alice", 25), ("Bob", 30)]
df = spark.createDataFrame(data, ["name", "age"])

df.show()

spark.stop()