version: '3.8'

services:

{% if mode in ["streaming", "full"] %}
  zookeeper:
    image: bitnami/zookeeper:latest
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    ports:
      - "2181:2181"

  kafka:
    image: bitnami/kafka:latest
    depends_on:
      - zookeeper
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
    ports:
      - "9092:9092"
{% endif %}

  spark:
    image: bitnami/spark:latest
    container_name: {{ project_name }}_spark
    environment:
      - SPARK_MODE=master
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - ./spark/jobs:/jobs

{% if mode in ["batch", "full"] %}
  airflow:
    image: apache/airflow:2.7.1
    container_name: {{ project_name }}_airflow
    environment:
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
    ports:
      - "8081:8080"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./spark/jobs:/opt/airflow/spark/jobs
    command: >
      bash -c "airflow db init &&
               airflow webserver & airflow scheduler"
{% endif %}